<div id="temp-main">
    <div>
        <div class="phone-search">
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索">
      <span class="input-group-btn">
        <button class="btn btn-info" type="button">搜索</button>
      </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <div class="jumbotron text-center">


            <h1>你好, 世界</h1>

            <p>...</p>

            <p class="text-right"><a class="btn btn-info btn-lg" href="#" role="button">世界很大 我们需要去看看</a></p>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail">
                        <img src="./img/intel.web.864.486.1.jpg" alt="...">

                        <div class="caption">
                            <h3>Thumbnail label</h3>

                            <p>...</p>

                            <p class="text-right"><a href="#" class="btn btn-info " role="button">播放</a> <a
                                    href="#"
                                    class="btn btn-danger"
                                    role="button">下载</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail">
                        <img src="./img/intel.web.864.486.2.jpg" alt="...">

                        <div class="caption">
                            <h3>Thumbnail label</h3>

                            <p>...</p>

                            <p class="text-right"><a href="#" class="btn btn-info" role="button">播放</a> <a
                                    href="#"
                                    class="btn btn-danger"
                                    role="button">下载</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail">
                        <img src="./img/intel.web.864.486.3.jpg" alt="...">

                        <div class="caption">
                            <h3>Thumbnail label</h3>

                            <p>...</p>

                            <p class="text-right"><a href="#" class="btn btn-info" role="button">播放</a> <a
                                    href="#"
                                    class="btn btn-danger"
                                    role="button">下载</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>